<nav class="navbar justify-content-between nav">
    <a class="nav-logo" href="/dash" onclick="document.location.href=this.getAttribute('href');">
        <h1>👻 Ghost</h1>
    </a>

    <div class="form-inline">
        <button class="nav-button" href="/register" onclick="document.location.href=this.getAttribute('href');">
            Registrar
        </button>
    </div>
</nav>
