.register-view {
  min-width: 300px;
  max-width: 500px;
  position: relative;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.register-box {
  opacity: 1;
  padding: 30px 50px 30px 50px;
  background: #fff;
  border-radius: 10px;
}

.register-title {
  width: 100%;
  float: left;
  line-height: 46px;
  font-size: 34px;
  font-weight: 700;
  letter-spacing: 2px;
  color: #6C509F;
  position: relative;
}

.register-form {
  padding-top: 65px;
  padding-bottom: 50px; 
}

.register-input label,
.register-input input {
  width: 100%;
  float: left;
}

.register-input {
  margin-top: 35px;
  height: 70px;
}

.register-input,
.register-input input {
  position: relative;
}

.register-input input,
.register-input label {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 300;
}

.register-input input {
  padding-top: 10px;
  border-width: 0 0 2px;
  border-color: rgba(0, 0, 0, 0.1);
}

.register-input input:focus {
  border-color: #6C509F;
}

.register-button {
  margin-top: 45px; 
}

.register-button button{
  width: 100%;
  padding: 16px 32px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.register-button button {
  background-color: #6C509F; 
  color: white; 
  border: 2px solid #6C509F;
}

.register-button button:hover {
  background-color: rgb(84, 51, 143);;
  color: white;
}
